* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: black;
}

main {
  height: 75vh;
  width: 75vw;
  position: absolute;
  top:0;
  left:0;
}

aside {
  height: 75vh;
  width: 30vw;
  margin-left: -5vw;
  position: absolute;
  top:0;
  left:75vw;

  color: #00ff00;
  opacity: 0.85;
  font-family: monospace;
  overflow: hidden;
}

aside div {
  margin-top: 0.5em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25vh;
}

footer p {
  color: #fff;
}

div.product {
  width: 250px;
  height: 275px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #000;  
  z-index:1;
  opacity: 0.65;
  border: 1px solid #00ff00;
}

div.product .title {
  background: #00ff00;
  text-align: center;
  padding: 5px;
}

div.product .image {
  position: relative;
  padding: 15px;
}

div.product img {
  width: 100%;
  height: auto;
  background-color: #00ff00;
  -webkit-filter: grayscale(100%) blur(0px);

  transition: -webkit-filter 200ms ease;
}

div.product img.enter {
  -webkit-filter: grayscale(100%) blur(20px);
}


div.product .image:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  /*** WEBKIT ***/
  background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 255, 0, 0.25) 1px, rgba(0, 255, 0, 0.25) 2px);
  -webkit-background-size: 100% 2px;
  /** MOZILLA **/
  background: -moz-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 255, 0, 0.25) 1px, rgba(0, 0, 255, 0.25) 2px);
  -moz-background-size: 100% 2px;
}

.byline {
  position: absolute;
  font-size: 0.85em;
  left:20px;
  top:60px;
  opacity: 0.85;
  color: #00ff00;  
  z-index:1;
}

.logo {
  position: absolute;
  left:0;
  top:0;
  display: inline-block;
  width:170px;
  height:100px;
  z-index:1;
  margin:20px;
  margin-left: 50px;
  opacity: 0.85;
  background-image: url(img/logo-white.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: top right;
}

.spinner {
  position: absolute;
  left:0;
  top:0;
  display: inline-block;
  width:31px;
  height:30px;
  z-index:1;
  margin:20px;
  opacity: 0.85;
  background-image: url(img/logo-white.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: top left;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body {
  background: black;
  font-family: monospace;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.particles-container {
  color: white;
  padding: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.particles-container h3 {
  text-transform: uppercase;
  font-size: 1em;
}
.particles-container .diagram {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.particles-container .diagram .component {
  width: 14%;
  flex-grow: 1;
  position: relative;
  justify-content: space-between;
  text-align: center;
}

.particles-container .diagram .component span {
  display: inline-block;
  height: 100%;
  background: rgba(10,10,10,0.85);
}

.particles-container .diagram .component img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #aaa;
  padding: 10px;
}

.particles-container .diagram .component label {
  background: white;
  color: black;
  margin: 0 auto;
  position: absolute;
  top: 103%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 0 2px;
  text-align: center;

}

.particles-js-canvas-el {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#particles {
  position: absolute;
  height: 75px;
  width: 75%;
  left: 0%;
  top: 60%;
  transform: translateY(-50%);
}

.particles-container .diagram .component.component-counter  {
  position: relative;
}

.particles-container .diagram .component.component-counter label {
  top: 0;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.component.component-counter h2 {
  font-size: 74px;
  margin-top: 0.6em;
}
